<section id="about" class="section about">
    <div class="container">
        <h2 class="about__title">Cтудія масажу RudenKo</h2>
        <div class="about__block">
            <div class="about__card about__card--first">
                <picture >
                  <img class="about__picture" 
                    src="./images/about/fox_3.png" alt="boss"
                    />
                </picture>
            </div>
            <div class="about__card about__card--second">
                <p class="about__text">Ласкаво просимо до студії масажу "RudenKo" - вашого ідеального місця для відпочинку та омолодження. 
                    <br>
                    Наша студія прагне надати вам найвищий рівень індивідуального догляду та уваги, забезпечуючи справді розкішний догляд.
                    <br>
                    У "RudenKo" ми віримо в цілющу силу дотику, що догляд за собою є важливим для підтримки оптимального здоров’я та благополуччя. 
                    Ось чому ми пропонуємо широкий спектр масажних послуг, які спрямовані на розслаблення, зниження стресу та заспокоєння втомлених м’язів. <br>
                    Незалежно від того, чи потрібен вам глибокий масаж тканин, щоб зняти напругу, чи шведський масаж, щоб сприяти кровообігу та розслабленню, 
                    наші кваліфіковані масажисти тут, щоб забезпечити вам найкращий досвід.<br>
                    Ми розуміємо, що кожен клієнт має унікальні потреби та переваги, тому ми пропонуємо різноманітні масажні техніки та варіанти індивідуального налаштування. 
                    Наші фахівці добре підготовлені та мають досвід застосування різноманітних методів масажу.<br>
                    У "RudenKo" ми прагнемо надавати нашим клієнтам винятковий сервіс і неперевершений відпочинок. 
                    Ми запрошуємо вас відчути різницю на собі та дізнатися, чому наша студія є ідеальним місцем для оздоровлення та догляду за собою.
                    Дякуємо, що цікавитеся "RudenKo", і з нетерпінням чекаємо вас незабаром!
             </p>
            </div>
        </div>
    </div>
  </section>  
 <ul class="gallery-container_grid card__colection modalEventListener"></ul>
    <button id="arrUp" class="arrUpBtn"> 
      <svg class="arr-up-icon" width="24" height="24">
        <use href="/src/images/arr-up.svg#arr-up"></use>
      </svg>
    </button>
  </div> 