<footer id="contacts" class="footer">
    <div class="container">
        <!-- <div class="footer-left__container"> -->
            <div class="footer-continer">
        <div class="footer-left__connect">
    <a lang="en" class="logo_link link" href="./index.html">Ruden<span class="logo__dark">Ko</span></a>
    <address>
    <ul class="footer-left__section list">
        <li class="footer-left__item">
        <a class="footer-left__footer-adress link" href="https://goo.gl/maps/QiFu7qiaF49NfuL89" target="_blank"
                rel="noopener noreferrer">
                м.Київ, вул. Євгена Сверстюка 11-А</a>
        </li>
        <li class="footer-left__item">
            <a class="footer-left__footer-adress link" href="https://goo.gl/maps/fSGhjNTXfqPztTh38" target="_blank"
                    rel="noopener noreferrer">
                    м.Київ, Володимиоа Івасюка, 20</a>
            </li>
        <li class="footer-left__item">
            <a class="footer-left__footer-connect link" href="mailto:konstantinovatmih@gmail.com">konstantinovatmih@gmail.com</a></li>
        <li class="footer-left__item">
            <a class="footer-left__footer-connect link" href="tel:+380503512778">+38 050 351 27 78</a></li>
    </ul>
    </address>
    </div>
    </div>
    </div>
    <!-- </div> -->
    </footer>
    