       <section id="services" class="prices">
        <div class="container">
            <h2 class="prices-title section-title">Услуги и цены</h2>
            <div class="prices-wrap">
                <ul class="prices-list prices-list-light list">
                    <li class="prices-item">
                        <p class="prices-item-text">Класичний масаж</p>
                        <span class="prices-item-text prices-item-count"
                            >від 600 грн. / 60 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">Релакс масаж</p>
                        <span class="prices-item-text prices-item-count"
                            >від 600 грн. / 60 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">Спортивний масаж</p>
                        <span class="prices-item-text prices-item-count"
                            >від 700 грн. / 60 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Лімфодренаж
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 300 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Моделюючий масаж
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 700 грн. / 50 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж для вагітних
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 500 грн. / 60 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж спини
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 600 грн. / 60 хв.</span
                        >
                    </li>
                </ul>
                <ul class="prices-list prices-list-dark list">
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Дитячий масаж
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж обличчя
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 300 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж рук
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж ніг
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 300 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж голови
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж живота
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Тейпування
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                </ul>
            </div>
            <button type="button" onclick="window.location.href = 'https://n801933.alteg.io/';" class="prices-btn btn">
                онлайн-запис
            </button>
            <!-- <a href="https://app.alteg.io/invite/FG8N82/" class="prices-btn btn">онлайн-запис</a> -->
        </div>
    </section>