.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/header/fon.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .logo_link{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    justify-content: center;
     @media screen and (max-width: 1199px)  {
    font-size: 24px;
     }
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $text-main-color;
    text-shadow:2px 2px 4px #000000;
    &{
    outline: none;
    }
    //  @media screen and (min-width: 1200px)  {
    //   margin-left: 20px;
    //  }
  }
  
//   .footer__text {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-top: 33px;
//     padding-bottom: 31px;
//     margin-right: auto;
//     margin-left: auto;
//     // @media screen and (min-width: 768px){
//     // padding-top: 30px;
//     // padding-bottom: 30px;
//     // }
//     @media screen and (max-width: 767px) {
//       display: block;
//       text-align: center;
//       padding-top: 28px;
//       padding-bottom: 28px;
//       width: 300px;
//     }
//   }
  
//   .footer__copy {
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.19;
//     color: $text-white-color;
//     @media screen and (max-width: 767px) {
//       font-size: 14px;
//       line-height: 1.17;
//     }
//   }
  
  
//   .footer__link {
//     text-decoration: underline;
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.19;
//     color: $text-white-color;
//     @media screen and (max-width: 767px) {
//       font-size: 14px;
//       line-height: 1.17;
//     }
//   }
  
//   .footer__icon {
//     margin-right: 5px;
//     margin-left: 5px;
//     display: inline;
//   }
  
  
  
  
  
  
//   .footer{
//     background-color: var(--main-bg-color);
//     padding-top: 60px;
//     padding-bottom: 60px;
//     }
    
    .footer-left__container{
       @media screen and (min-width: 1200px)  {
    display: flex;  
    margin-left: auto;
    align-items: baseline;
      }
    }
    
    .footer-continer{
    //   @media screen and (min-width: 768px) {
    display: flex;  
    margin-left: auto;
    align-items: baseline;
justify-content: center;
    text-align: center;
    margin-left: auto;
    //   }
    //   @media screen and (min-width: 1200px){
    // display: flex;  
    // margin-left: 60px;
    // text-align: left;
    // }
    }
    
    // .footer-left__connect{
    //   @media screen and (min-width: 480px){
    // text-align: center;
    //   }
    //   @media screen and (min-width: 768px){
    //     margin-right: 165px;
    //     margin-bottom: 60px;
    //   }
    //   @media screen and (min-width: 1200px)  {
    //  margin-right: 70px;
    //  margin-bottom: 0px;
    //   }
    // }
    
    .footer-left__section{
          @media screen and (min-width: 480px){
    text-align: center;
      }
      @media screen and (min-width: 1200px)  {
      margin-left: auto;
      margin-top: 20px;
      text-align: center;
      }
      }
    
      .footer-left__item{
         @media screen and (max-width: 1199px)  {
    margin-top: 9px;
         }
    margin-bottom: 9px;
    }
    
    .footer-left__footer-connect{
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color:$text-white-color;
    outline: none;
    &:hover,
    &:focus{
      color: $text-white-color;
    }
    }
    
    .footer-left__footer-adress{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: $text-white-color;
    outline: none;
    }
    
    // .footer-center__list{
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  margin-top: 20px;
    // }
    
    // .footer-title-text{
    // font-weight: bold;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;
    // color: $text-white-color;
    // &{
    // margin-bottom: 20px;
    // }
    // @media screen and (min-width: 480px){
    // margin-top: 60px;
    // text-align: center;
    // }
    // @media screen and (min-width: 768px) {
    // text-align: center;
    // margin-top: 0px;
    // }
    // @media screen and (min-width: 1200px) {
    // text-align: left;
    // margin-top: 0px;
    // }
    // }
    
    // .footer-right__container{
    //   @media screen and (min-width: 1200px)  {
    //   margin-left: 93px;
    //   }
    // }
    
    // .footer-btn__btn{
    // width: 200px;
    // height: 50px;
    // font-weight: bold;
    // font-size: 16px;
    // line-height: 1.87;
    // display: flex;
    // align-items: center;
    // text-align: center;
    // letter-spacing: 0.06em;
    // color: $text-white-color;
    // background: $text-main-color;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    // border-radius: 4px;
    // border: none;
    // padding: 10px 28px 10px 29px;
    // margin-top: 9px;
    // outline: none;
    // margin: 0 auto;
    // // @media screen and (min-width: 480px){
    // //   margin: 0 auto;
    // // }
    // }
    
    // .footer-btn__send-icon{
    // margin-left: 10px;
    // }
    
    // .footer-input__send-input{
    // background-color: transparent;
    // @media screen and (min-width: 480px){
    //   width: 100%;
    //   margin-bottom: 20px;
    // }
    // @media screen and (min-width: 768px){
    //   width: 450px;
    //   margin-bottom: 20px;
    // }
    // @media screen and (min-width: 1200px){
    // width: 358px;
    // margin-right: 12px;
    // display: flex;
    // }
    // height: 50px;
    // border: 1px solid rgba(255, 255, 255, 0.3);
    // box-sizing: border-box;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    // border-radius: 4px;
    // padding: 15px 15px 16px;
    // outline: none;
    // font-size: 16px;
    // line-height: 1.25;
    // align-items: center;
    // letter-spacing: 0.03em;
    // color: $text-white-color;
    // &::placeholder{
    // font-size: 16px;
    // line-height: 1.25;
    // display: flex;
    // align-items: center;
    // letter-spacing: 0.03em;
    // color: $text-white-color;
    // transition: color 250ms linear;
    // }
    // }
    
    // .footer-input__mail{
    //   text-align: center;
    //   @media screen and (min-width: 1200px){
    //   display: flex;
    //   }
    // }