.our-work__title{
    font-size: 44px;
    line-height: 1.61;  
    font-weight: 900;
    font-style: italic;
    font-family: ğ“¯ğ“ªğ“·ğ“¬ğ”‚ ğ“½ğ“®ğ”ğ“½;
    text-align: center;
    letter-spacing: 0.06em;
  //   @media screen and (min-width: 1200px){
  //   font-size: 44px;
  //   }
    @media screen and (max-width: 1199px){
      font-size: 32px;
      }
    @media screen and (max-width: 767px){
        // margin-bottom: 30px;
        font-size: 22px;
    }
    margin-bottom: 20px;
    color: $text-main-color;
    text-shadow:2px 2px 4px #000000;
}

.our-work__about-img{
    @media screen and (min-width: 1200px)  {
position: relative;
&:not(:last-child){
margin-right: 30px;
}
    }    
    @media screen and (max-width: 1199px)  {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        } 
}

.our-work__about-img-text{
    @media screen and (min-width: 1200px)  {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
color: #ffffff;
background-color: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;
padding: 27px 27px;
text-align: center;
display: block;
position: absolute;
bottom: 0;
left: 0;
    }
}

.our-work__about-list{
    @media screen and (min-width: 1200px)  {
    display: flex;
    align-items: center;
    } 
}
