.title{
    font-size: 44px;
    line-height: 1.61;  
    font-weight: 900;
    font-style: italic;
    font-family: ğ“¯ğ“ªğ“·ğ“¬ğ”‚ ğ“½ğ“®ğ”ğ“½;
    text-align: center;
    letter-spacing: 0.06em;
  //   @media screen and (min-width: 1200px){
  //   font-size: 44px;
  //   }
    @media screen and (max-width: 1199px){
      font-size: 32px;
      }
    @media screen and (max-width: 767px){
        margin-bottom: 30px;
        font-size: 22px;
    }
    margin-bottom: 45px;
    color: $text-main-color;
    text-shadow:2px 2px 4px #000000;
}